<!DOCTYPE html>
<html lang="en">
<head>

<script src="{{STATIC_URL}}js/jquery.js"></script>

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load bootstrap_themes %}

{% bootstrap_styles theme='slate' type='min.css' %}

{% bootstrap_script use_min=True %}

<style type="text/css">
	.table a { text-decoration: none; }
	th, td { text-align: center; width: 100px; }
</style>

</head>
<body>

<div class="container">
<div class="row">

<div class="col-md-8">
<h1>Shakespeare at the BBC (sample)</h1>
</div>

<div class="col-md-3">
Images courtesy <a href="http://luna.folger.edu/luna/servlet/FOLGERCM1~6~6">Folger Archive</a>
</div>
</div>
</div>

<div class="container">
<div class="row" style="margin-left: 10px;">

<div class="col-md-6">
{% if type == "talk" %}
<h3><span style="text-align: left;">Talks & Thoughts</span></h3>
{% elif type == "opera" %}
<h3><span style="text-align: left;">Opera & Concerts</span></h3>
{% elif type == "excerpts" %}
<h3><span style="text-align: left;">Excerpted Performances</span></h3>
{% else %}
<h3><span style="text-align: left;">Performances of selected plays</span></h3>
{% endif %}

</div>

<div class="col-md-4">
<div class="btn-group center-block">
<a href="#" class="btn bt-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Performances <span class="caret"></span></a>
<ul class="dropdown-menu">
  <li><a href="/shakespeare/">Performances</a></li>
  <li><a href="/shakespeare/opera">Operas</a></li>
  <li><a href="/shakespeare/talk">Talks</a></li>
  <li><a href="/shakespeare/excerpts">Excerpts</a></li>
</ul>
</div>

</div>

</div>
</div>

 <table class="table table-striped table-hover" style="width:100%; text-align: center;">
  <thead>
    <tr>
	<td><b>Decade</b></td>
	<td><b>Macbeth</b></td>
	<td><b>A Midsummer Night's Dream</b></td>
	<td><b>Antony & Cleopatra</b></td>
	<td><b>Romeo and Juliet</b></td>
    </td>
  </thead>
  <tbody>
    {% for decade, counts, play_popular, performances in decade_performances %}
 	   <tr>
	   <td><b>{{decade}}s</b><br/>had {{counts}} 
	   {% if type == "talk" %}
		talks given
	   {% elif type == "excerpts" %}
		plays excerpted
	   {% elif type == "opera" %}
		operas performed
	   {% else %}
		plays performed
	   {% endif %}
	{% if not play_popular %}
		.
	{% else %}
		with {{play_popular}} being the most popular.
	{% endif %}
	   </td>
	   </td>
	{% for performance in performances %}
	{% if not performance %}
		<td>No known performances</td>
	{% else %}
        <td>
	<span data-toggle="tooltip" data-placement="bottom" title="" data-original-title ="{{performance.programme.description|escape}}">
	{% if type == "talk" or type == "excerpts" %}
        <img src="/static/{{performance.play.all.0.image_url}}_{{ random_img|random }}.jpg">
	{% else %}
        <img src="/static/{{performance.play.image_url}}_{{ random_img|random }}.jpg">
	{% endif %}
	</span>
	<br/>

	{{performance.object.title}}<br/>
	{% if type == "talk" %}
	talk on
	{% else %}
	performed as
	{% endif %}
	<a href="http://genome.ch.bbc.co.uk{{performance.programme.genome_url}}">{{performance.programme.title}}</a>
	<br/>
	<span class="label label-primary">{{performance.programme.datetime|date:"d M Y"}}</span>
	</td>
	{% endif %}
	{% endfor %}
	</tr>
    {% endfor %}
  </tbody>
 </table>
	
<script>
$(function () {
	 $("[data-toggle='tooltip']").tooltip();
	 $(".dropdown-toggle").dropdown();
 });

</script>
</body>
</html>


