
<!DOCTYPE html>
<html lang="en">
<head>

<script src="{{ STATIC_URL }}js/jquery.js"></script>

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load bootstrap_themes %}

{% bootstrap_styles theme='darkly' type='min.css' %}

{% bootstrap_script use_min=True %}
</head>
<body>

<h1>Cultural Times: Victoria & Albert, Room 21</h2>

{% if object_list %}
 <table class="table table-striped table-hover" style="width:95%; text-align: center;">
  <thead>
	<tr>
	   <th>Object</th>
	   <th>1920s</th>
	   <th>1930s</th>
	   <th>1940s</th>
	   <th>1940s</th>
	   <th>1950s</th>
	   <th>1950s</th>
	   <th>1960s</th>
	   <th>1970s</th>
	   <th>1980s</th>
	   <th>1990s</th>
	   <th>2000</th>
	</tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      {% if object.programme_set.count > 0 and object.image_url %}
      <tr>
        <td>
       <img src="http://media.vam.ac.uk/media/thira/collection_images/{{object.image_url|slice:"0:6"}}/{{object.image_url}}_jpg_s.jpg"><br/>
	{{object.title}} by {{object.artist}}</td>
	{% for programme in object.programme_set.all|slice:":11" %}
	    <td>
		<span class="label label-primary">{{programme.datetime|date:"d M Y"}}</span>
		<span class="label label-success">{{programme.channel.title}}</span>
		<br>
		<span>
		<span class="glyphicon glyphicon-play" aria-hidden="true"/>
		</span>
<span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{programme.description}}">{{programme.title}}</span>
		<br>
		{% if "poem" in programme.description %}
			<span class="label label-danger">Poem</span>
		{% endif %}
		{% if "music" in programme.description %}
			<span class="label label-warning">Music</span>
		{% endif %}
		{% if "drama" in programme.description %}
			<span class="label label-success">Drama</span>
		{% endif %}
		{% if "ballet" in programme.description %}
			<span class="label label-info">Ballet</span>
		{% endif %}
		{% if "opera " in programme.description %}
			<span class="label label-warning">Opera</span>
		{% endif %}
		{% if "Proms" in programme.description %}
			<span class="label label-success">Proms</span>
		{% endif %}
		</td>
	{% endfor %}
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
 </table>
{% endif %}
	
<!--
 	     <li class="list-group-item"><a href="{{programme.id}}/" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{programme.description}}">{{programme.title}}</a></li>
-->

<script>
$(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>
</body>
</html>


